{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "importOrder": [
    "^react",
    "^next/(.*)$",
    "^next-auth/(.*)$",
    "^@next-auth/(.*)$",
    "^wirt@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
